.heading{
text-align:center;

}
h4{
 color:white;   
}
h2{
color:white;
}
body{
 background-color:black;   
}
.middle{
 text-align:center;   
}
h5{
 color:white;   
}
li{
    color:white;
}
h3{
 color:white;   
}